{% extends "base.html" %}

{% block content %}
<div class="d-flex align-items-center justify-content-center ">
    <h1 class="container text-center">CATALOG</h1>
</div>



<div class="container-md d-flex flex-wrap justify-content-center">
    {% for product in products %}
    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card p-2">
            <div class="card-body">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top">
                <h2 class="card-title">{{ product.name }}</h2>
                <p class="card-text">{{ product.description }}</p>
                <p>Price: GH{{ product.price }}</p>
                <form action="{% url 'purchase_product' product.id %}" method="post">
                    <!-- {% csrf_token %} -->
                    <button class="btn btn-primary" type="submit">Purchase</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}
